body {
	background: #C2C8D5;
}
table {
	background: #F6F9FC;
	border-radius: 10px;
	-webkit-box-shadow: 10px 10px 10px #999;
	 -moz-box-shadow: 10px 10px 10px #999;
	 width: 60%;
}


label {
	color: #4082FF;
	font-size: 18px;

}

input {
border-radius: 5px;
padding: 2%;
width: 80%;	
}

select {
border-radius: 5px;
width: 80%;	
padding: 2%;
}

.td0 {
/*border:solid;*/
text-align: center;
padding-top: 20px;
padding-left: 10px;	
padding-bottom: 10px;
width: 10%;
background: #B5D8FA;
border-radius: 5px;
}

.td1 {
/*border:solid;*/
text-align: left;
padding-top: 20px;
padding-left: 10px;	
padding-bottom: 10px;
width: 10%;
}

.td2{
/*border:solid;*/
width: 10%;
padding-top: 20px;
padding-left: 10px;
padding-bottom: 10px;	
}

.td3 {
/*border:solid;*/
width: 10%;
padding-top: 20px;
padding-left: 10px;	
padding-bottom: 10px;	
}

